<!-- <h1 appUnsave>Interpolation</h1>
<h2> Hello {{title}}</h2>
<h1>Property Binding</h1>
<input [disabled]="isShow" id="{{title}}" type="text" value="Hi All!">
<h1>Event Binding</h1>
<button (click)="onClick()">Submit</button><br>
{{event}}
<h1>Two Way Binding</h1>
<input [(ngModel)]="twoWay" type="text">
{{twoWay}}

<h1 appUnsave *ngIf="isHide">Directives</h1>
<h2 appUnsave>NgIf</h2>
<div  *ngIf="displayName; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <h3>Hello</h3>
  </ng-template>
  <ng-template #elseBlock>
    <h3>World</h3>
  </ng-template>
  <h2>NgFor</h2>
  <div *ngFor="let name of names">
    <h4>{{name}}</h4>
  </div>
  <h2>NgSwitch</h2>
  <div [ngSwitch]="color">
    <div *ngSwitchCase="'red'"><h1>I'm selected red color</h1></div>
    <div *ngSwitchCase="'blue'"><h1>I'm selected blue color</h1></div>
    <div *ngSwitchCase="'green'"><h1>I'm selected green color</h1></div>
  </div>
  <h1>Component interaction</h1>
  <h2>Input</h2>
  <h2>output</h2>
  <h2>{{message}}</h2>

  <button (click)="viewChild()">View child</button>
  <h4>View Child {{name5}}</h4>
  <app-test (childEvent)="message=$event" [parentData]="name"></app-test>
  <router-outlet></router-outlet>


 -->
 <hr>
 <a routerLink=''>Home</a>
<a routerLink='/login'>login</a>
<a routerLink='/last'>last</a>
<hr>
<hr>

 <router-outlet></router-outlet>
